[Unit]
Description=Geolocator Service
After=network.target

[Service]
ExecStart=/usr/local/bin/geolocator --display=oled --gps=neo_6m
User=root
Restart=always

[Install]
WantedBy=multi-user.target
